<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
    <link rel="stylesheet" href="/styles.css" />
    <title>Document</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site created by Assaf AspeO Harush. It uses data from mapbox.com and weatherstack.com!</p>
        <p>Fuck you !!!</p>
        <img src="./img/bla.png" alt="" />
    </div>
    {{>footer}}
</body>

</html>